:host {
  display: block;
  color : #8c8875;
  font-family: 'formal';
  border: 1px solid #8c8875;
  padding: 0 1px;

  position: relative;

  .close {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 24px;
    font-size: 24px;
    width: 23px;
    color: #cd0202;
    border: 2px solid black;
    display: flex;
    background: #850707;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.75);
    }

    &:before {
      content : 'X';
      text-shadow: 1px 1px 1px black;
    }
  }

  .header {
    font-family: 'exocet_big';
    font-size: 24px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  .list {
    height: calc(100% - 99px);
    overflow: auto;
    padding: 0 15px;

/* width */
&::-webkit-scrollbar {
  width: 10px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #8c8875;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: #24150b;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  }

  .actions {
    margin : 10px 0px;
    display: flex;
    padding: 0 15px;
  }

  .action {
    border: 1px solid #8c8875;
    color: #8c8875;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;

    &.on {
      background-color: #8c8875;
      color: black;
    }
  }

  input {
    border : 1px solid #8c8875;
    background: none;
    color : #8c8875;
    font-family: 'exocet_big';
    font-size: 16px;
    padding : 5px 10px;
    outline: none;
    width: auto;

    &:focus {
      border: 2px solid #8c8875;
    }

    option {
      background-color: red;
    }
  }

  .uniq {
    display: flex;
    height: 20px;
    cursor: pointer;
    transition: font-size 0.3s ease;
    padding: 5px;

    .name {
      min-width : 250px;
    }

    .lvl {
      display: none;
    }

    .type {
      min-width : 120px;
      color: #6a6a6a;
    }

    &:hover {
      background-color: #8c8875;
      color:black;
      .name {
        font-size: 18px;
      }

    }
    .value {
      margin: 0 5px;
      &:not(:empty):after {
        content : '💰'
      }
    }
  }
}
