ca-uniq {
  display: block;
  color : #8c8875;
  font-family: 'formal';
  border: 1px solid #8c8875;
  padding: 0 1px;
  position: relative;
  width: calc(100% - 4px);

  .close {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 24px;
    font-size: 24px;
    width: 23px;
    color: #cd0202;
    border: 2px solid black;
    display: flex;
    background: #850707;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.75);
    }

    &:before {
      content : 'X';
      text-shadow: 1px 1px 1px black;
    }
  }

  .header {
    font-family: 'exocet_big';
    font-size: 24px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 15px 5px;

    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }



  .actions {
    margin : 10px 0px;
    display: flex;
    padding: 0 15px;
  }

  .action {
    border: 1px solid #8c8875;
    color: #8c8875;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    user-select: none;

    &.on {
      background-color: #8c8875;
      color: black;
    }
  }

  input {
    border : 1px solid #8c8875;
    background: none;
    color : #8c8875;
    font-family: 'exocet_big';
    font-size: 16px;
    padding : 5px 10px;
    max-width: calc(70% - 11px);
    outline: none;
    width: auto;

    &:focus {
      border: 2px solid #8c8875;
    }

    option {
      background-color: red;
    }
  }



  .list {
    grid-template-columns: repeat(8, minmax(150px, 1fr));
    height: calc(100% - 99px);
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    display: flex;


    @media (max-width: 1280px) {
    grid-template-columns: repeat(7, minmax(150px, 1fr));
    }

    @media (max-width: 1080px) {
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    }

    @media (max-width: 700px) {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    }

    @media (max-width: 500px) {
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    }

    @media (max-width: 400px) {
      grid-template-columns: repeat(2, minmax(110px, 1fr));
      }

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #8c8875;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #24150b;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

  }

  .uniq {
    display: flex;
    cursor: pointer;
    transition: font-size 0.3s ease;
    flex-direction: column;
    height: 250px;
    align-items: center;
    border:1px solid #000;
    text-align: center;
    position: relative;
    filter: grayscale(1);
    background: #2c2c2c;
    align-items: center;
    box-shadow: inset 0px 0px 6px 6px #0000001c;
    width: 170px;
    margin: 5px;
    z-index: 100;




    &.ethereal {

      .name {
          color:white;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;

      }

      img {
        filter: drop-shadow(16px 16px 20px red) invert(75%);
      }
      .ethereal {
        // animation: myOrbit 2s ease infinite;
        // animation-direction: alternate;
                filter: grayscale(0);
      }
    }

    @keyframes myOrbit {
      from { transform: rotate(0deg) translateX(0) rotate(0deg); }
      to   { transform: rotate(0deg) translateX(100%) rotate(0deg); }
  }

    .ethereal {
      position: absolute;
      top: 5px;
      left: 5px;
      filter: grayscale(1);
      opacity: 0.8;
    }

    &.grailed {
      border:1px solid #8c8875;
      filter: grayscale(0);
    }

    .img {
      transition: all 0.3s ease-in-out;
      height: 100%;
      margin-bottom: 30px;
      display: flex;
      align-items: center;

      img {
        object-fit: contain;
      }
    }

    .infos {
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px 0;
    }

    .lvl {
      display: none;
    }

    .holyGrail {
      position: absolute;
      text-align: right;
      top: 5px;
      right: 5px;
    }

    .type {
      min-width : 120px;
      color: #6a6a6a;
    }

    &:hover {
      background-color: black;
    }
    .value {
      margin: 0 5px;
      &:not(:empty):after {
        content : '💰'
      }
    }
  }
}
